<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CaloBox ~ Health and Safety</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="./styles/finalstyles.css">
    <!-- Start of Async Drift Code -->
    <script>
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
        return function() {
          var n;
          return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e, n, o, i;
        e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('uiwc7v9cv4fx');
    </script>
    <!-- End of Async Drift Code -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar is-transparent">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <!-- <img src="https://cdn.shopify.com/s/files/1/2023/6647/files/Logo.png" alt="Bulma: a modern CSS framework based on Flexbox"> -->
          <strong>Calobox</strong>
        </a>

        <div class="navbar-burger burger" data-target="navMenuTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navMenuTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link  is-active" href="/snack-boxes">
              Snack Boxes
            </a>
            <div class="navbar-dropdown is-boxed">
              <% for (var i = 0; i < dynamicNavBigBoxNames.length; i++) { %>
                <a class="navbar-item " href="/snack-boxes/<%= dynamicNavBigBoxNames[i].big_box_name %>">
                  <%= dynamicNavBigBoxNames[i].big_box_name %>
                </a>
              <% } %>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link  is-active" href="/individual-snacks">
              Individual Snacks
            </a>
            <div class="navbar-dropdown is-boxed">
              <% for (var i = 0; i < dynamicNavPouchNames.length; i++) { %>
                <a href="/individual-snacks/<%= dynamicNavPouchNames[i].pouch_name %>" class="navbar-item"><%= dynamicNavPouchNames[i].pouch_name %></a>
              <% } %>
            </div>
          </div>
        </div>

        <div class="navbar-end" id="rightHere">
          <% if (!userID) { %>
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a href="/login" class="tw-button button">Login</a>
                </p>
              </div>
            </div>
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a href="/signup" class="tw-button button">Sign Up</a>
                </p>
              </div>
            </div>
          <% } else { %>
            <div class="navbar-item">
              <p class="control">
                <a class="bd-tw-button button snipcart-checkout">
                  <span class="icon">
                    <i class="fa fa-shopping-cart"></i>
                  </span>
                  <span>
                    Cart
                  </span>
                </a>
              </p>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link  is-active">
                <%= name %>
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item " href="/logout">
                  Logout
                </a>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container has-text-centered">
        <h1 class="title">
          Health &amp; Safety
        </h1>
        <p class="subtitle">
          It's not a short-term diet. It's a long term lifestyle change.
        </p>
      </div>
    </section>

    <section class="section">
      <div class="container has-text-centered">
        <p class="subtitle">
          Our snacks taste amazing and are good for the body. We're confident about it. Our secret? All our snacks start at a home. They're cooked by loving hands in a kitchen with an intent to provide both, a decadent taste and a ton of nutrition. That is where our products evolve from. No bigger catch, no greed, just love.
        </p>
      </div>
    </section>

    <section class="section" style="background-color: #eee">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <br />
            <br />
            <h1 class="title">
              Sampling and Testing
            </h1>
            <br />
            <p class="subtitle">Our team carefully monitors and examines the quality and superiority of its products by assuring wholesome taste and nutrition. Our Chef, being the expert, differentiates our products well by ensuring the quality of the ingredients used to create the snacks thereby avoiding any deficient batch of products.</p>
          </div>
          <div class="column">
            <div class="columns is-centered">
              <div class="column is-offset-2">
                <img src="./sampling.png" alt="Placeholder image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section" style="background-color: #fff">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="columns is-centered">
              <div class="column is-offset-2">
                <img src="./chefTouch.png" alt="Placeholder image">
              </div>
            </div>
          </div>
          <div class="column">
            <br />
            <br />
            <h1 class="title">
              The Calo Chef Touch
            </h1>
            <br />
            <p class="subtitle">The Calo team diligently inspects, monitors and examines the quality standards of the production process, beginning with the assembling and procuring of the ingredients, to the packaging of the nutritious, premium snacks primarily crafted by our highly innovative and experienced team.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section" style="background-color: #eee">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <br />
            <br />
            <h1 class="title">
              Storage &amp; Hygiene Practices
            </h1>
            <br />
            <p class="subtitle">Hygiene and quality are the cornerstones that uphold the reputation and integrity of CaloBox.  Our healthy snacks are meticulously crafted and stored in strictly monitored and controlled facilities assuring premium level of hygiene, quality and overall maintenance of its processes and products.</p>
          </div>
          <div class="column">
            <div class="columns is-centered">
              <div class="column is-offset-2">
                <img src="./storage.png" alt="Placeholder image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section" style="background-color: #001f3f;">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-2">
            <h3 style="color: white;">Navigation</h3>
            <br />
            <!-- <li style="color: #43dacc;"><a href="/events">Events</a></li> -->
            <li style="color: #43dacc;"><a href="/nutrition-prep">Nutrition &amp; Prep</a></li>
            <li style="color: #43dacc;"><a href="/health-safety">Health &amp; Safety</a></li>
            <li style="color: #43dacc;"><a href="/how-it-works">How it works</a></li>
            <li style="color: #43dacc;"><a href="/contact-us">Contact Us</a></li>
          </div>
          <div class="column is-2">
            <h3 style="color: white;">Company</h3>
            <br />
            <li style="color: #43dacc;"><a href="/calo-freaks">Our Team</a></li>
            <li style="color: #43dacc;"><a href="/about-us">About Us</a></li>
          </div>
          <div class="column is-2">
            <h3 style="color: white;">Calo Recipes</h3>
            <br />
            <li style="color: #43dacc;"><a href="#">Coming Soon!</a></li>
          </div>
          <div class="column is-4">
            <h3 style="color: white;">Find Us Online</h3>
            <br />
            <a class="button is-primary" style="color: white;" href="https://www.facebook.com/CALOBOX/">Facebook</a>
            <a class="button is-primary" style="color: white;" href="https://twitter.com/calobox">Twitter</a>
            <a class="button is-primary" style="color: white;" href="https://www.instagram.com/calobox/">Instagram</a>
            <a class="button is-primary" style="color: white;">ETC</a>
          </div>
        </div>
      </div>
    </section>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {

        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach(function ($el) {
            $el.addEventListener('click', function () {

              // Get the target from the "data-target" attribute
              var target = $el.dataset.target;
              var $target = document.getElementById(target);

              // Toggle the class on both the "navbar-burger" and the "navbar-menu"
              $el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }

      });
    </script>

  </body>
</html>
