<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CaloBox ~ Healthier Snacks By Mail</title>

    <% include ./partials/_seo %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400|Roboto" rel="stylesheet">
    <link href="/styles/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="./styles/finalstyles.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider-dots.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.css"> -->



    <!-- Start of Async Drift Code -->
    <script>
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
        return function() {
          var n;
          return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e, n, o, i;
        e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('uiwc7v9cv4fx');
    </script>
    <!-- End of Async Drift Code -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.js"></script>

    <!-- Live Key -->
    <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="YzNjOWE1ZjktM2FjZi00ZjNjLWEwZWQtMTRkODUxYmI2NTlkNjM2NDc2OTQ3MzkwOTc1ODg1"></script>

    <!-- TEST KEY DOWN BELOW -->
    <!-- <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="MDViM2VlYjgtYWE1OC00ZGViLWFmMzAtMWYyNjljOGE3ZWI4NjM2NDc2OTQ3MzkwOTc1ODg1"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/js/unslider-min.js"></script>

    <script type="text/javascript" src="./scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/cart.js"></script>
  </head>
  <body style="background-image: url('../brick-wall.png');">

    <% include ./partials/_navbar %>

    <div class="my-slider">
      <ul>
        <li style="background-image: url('https://s3.us-east-2.amazonaws.com/caloimagesandvideos/IMG_6373.jpg'); background-size: cover; background-repeat: no-repeat; height: 100vh;">
          <section class="section">
            <div class="container has-text-centered">
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <h1 style="font-family: 'Montserrat', sans-serif; font-size: 46px; font-weight: bold; color: white;">Discover our line of <b style="color: green;">#JunkFree</b> snacks!</h1>
              <br />
              <br />
              <a class="button is-medium is-primary" href="#BuyNow" style="font-family: 'Montserrat', sans-serif;">Shop Now</a>
              <br />
              <br />
              <br />
              <br />
              <p class="subtitle is-4" style="font-family: 'Montserrat', sans-serif; color: white; font-size: 30px;"><b>Cash On Delivery Now Available!</b></p>
            </div>
          </section>
        </li>
        <li style="background-image: url('https://s3.us-east-2.amazonaws.com/caloimagesandvideos/Optimized-IMG_6382.jpg'); background-size: cover; background-repeat: no-repeat; height: 100vh;">
          <section class="section">
            <div class="container has-text-centered">
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <h2 class="subtitle is-4" style="font-family: 'Montserrat', sans-serif; color: white; font-size: 36px;">
                <b>Join the </b> <b style="color: green;">#CaloIndia</b> <b>Revolution! It's time to be the </b><b style="color: green;">#CaloYou!</b>
              </h2>
              <br />
              <br />
              <a class="button is-medium is-primary" href="#BuyNow" style="font-family: 'Montserrat', sans-serif;">Shop Now</a>
              <br />
              <br />
              <p class="subtitle is-4" style="font-family: 'Montserrat', sans-serif; color: white; font-size: 30px;"><b>Free shipping on orders over Rs. 500!</b></p>
            </div>
          </section>
        </li>
        <li style="background-image: url('https://s3.us-east-2.amazonaws.com/caloimagesandvideos/Optimized-_MG_4943+(1).jpg'); background-size: cover; background-repeat: no-repeat; height: 100vh;">
          <section class="section">
            <div class="container has-text-centered">
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <h2 class="subtitle is-4" style="font-family: 'Montserrat', sans-serif; color: white; font-size: 36px;">
                <b>Order Now! Open the door to a healthy life in just days!</b>
              </h2>
              <br />
              <br />
              <a class="button is-medium is-primary" href="#BuyNow" style="font-family: 'Montserrat', sans-serif;">Shop Now</a>
              <br />
              <br />
              <p class="subtitle is-4" style="font-family: 'Montserrat', sans-serif; color: white; font-size: 30px;"><b>Use code HELLOCALO at checkout for 10% off!</b></p>
            </div>
          </section>
        </li>
      </ul>
    </div>


    <br />

    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <img src="https://s3.us-east-2.amazonaws.com/caloimagesandvideos/Optimized-IMG_5886.jpg" alt="CaloBox ~ Energy Bites">
            <br />
            <br />
            <div class="columns">
              <div class="column is-offset-one-third">
                <a class="button is-medium is-primary is-offset-1" href="#BuyNow" style="font-family: 'Montserrat', sans-serif;">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="column">
            <h2 style="font-family: 'Montserrat', sans-serif; font-size: 32px; font-weight: bold;">Healthy Eating Starts Now!</h2>
            <p style="font-family: 'Roboto', sans-serif; font-size: 27px;">Say Namaste to healthy wholesome nutrients that are essential in order to live a healthy lifestyle!</p>
            <br />
            <p style="font-family: 'Roboto', sans-serif; font-size: 27px;">The ingredients used to prepare our vibrant range of snacks are of superior quality that matches with the highest nutritional standards.
            This implies that there's no wage of artifcial ingredients but only fresh and nutritious ingredients that ensures both good health and good taste.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section" style="background-color: #61a60e; color: white; background-image: url('./brick-wall.png');">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <img src="https://s3.us-east-2.amazonaws.com/caloimagesandvideos/pouch-contents.png" alt="CaloBox ~ Pouch Contents ~ Only the best contents in our snacks">
          </div>
          <div class="column has-text-centered">
            <h2 style="font-family: cursive; font-size: 30px; font-weight: bold;">The Calo Promise</h2>
            <div class="box" style="background-color: #725B72; background-image: url('./brick-wall.png'); color: white;">
              <p class="subtitle is-4"><strong>Cater to Everyone...</strong></p>
              <p style="font-family: 'Roboto', sans-serif; font-size: 22px;">
                100% Jain, Vegan, Gluten Free and a definite Superfood! We make sure to cater to everyone!
              </p>
            </div>
            <div class="box" style="background-color: #d0021b; background-image: url('./brick-wall.png'); color: white;">
              <p class="subtitle is-4"><strong>From the best Sources...</strong></p>
              <p style="font-family: 'Roboto', sans-serif; font-size: 22px;">Here at Calo we have sourced out snacks that contain extremely pure and authentic ingredients to help you binge freely.</p>
            </div>
            <div class="box" style="background-color: #D35E28; background-image: url('./brick-wall.png'); color: white;">
              <p class="subtitle is-4"><strong>Incredible to taste...</strong></p>
              <p style="font-family: 'Roboto', sans-serif; font-size: 22px;">They are not only healthy and light but also cater to a variety of taste buds from sweet to savoury and spicy.</p>
            </div>
            <div class="box" style="background-color: #038E4B; background-image: url('./brick-wall.png'); color: white;">
              <p class="subtitle is-4"><strong>True to our aim...</strong></p>
              <p style="font-family: 'Roboto', sans-serif; font-size: 22px;">We at Calo aim to make snacking fun &amp; healthy, and our wide range of products makes sure you're never bored.</p>
            </div>
            <div class="box" style="background-color: #724B43; background-image: url('./brick-wall.png'); color: white;">
              <p class="subtitle is-4"><strong>Providing all you need and more...</strong></p>
              <p style="font-family: 'Roboto', sans-serif; font-size: 22px;">A calo diet provides Protein, Omega 3, Energizers, Vitamins, Minerals and Fibres, plus an incredible taste and low calories</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section has-text-centered" id="BuyNow">
      <h2 class="title">#EatLiteLiveRite</h2>
      <div class="tile is-ancestor" style="overflow: hidden; overflow-x: scroll;">
        <% for (var i = 0; i < response.length; i++) { %>
          <% if (response[i].pouch_price) { %>
            <div class="tile is-parent">
              <article class="tile is-child box" style="width:329px;">
                <p class="title" style="font-family: 'Montserrat', sans-serif"><%= response[i].pouch_name %></p>
                <figure class="image is-4by3">
                  <img src="<%= response[i].pouch_image_url_2 %>" alt="CaloBox ~ <%= response[i].pouch_name %>">
                </figure>
                <br />
                <p class="subtitle is-6"><%= response[i].quick_desc %></p>
                <b>Rs. <%= response[i].pouch_price %> (<%= response[i].net_weight %> gms)</b>
                <button
                  class="snipcart-add-item button is-medium is-primary"
                  data-item-id="<%= response[i].pouch_id %>"
                  data-item-name="<%= response[i].pouch_name %>"
                  data-item-price="<%= response[i].pouch_price %>"
                  data-item-weight="<%= response[i].net_weight %>"
                  data-item-url="/individual-snacks/<%= response[i].pouch_name %>"
                  data-item-image="<%= response[i].pouch_image_url %>"
                  data-item-has-taxes-included="false">
                      Add to Cart
                </button>
              </article>
            </div>
          <% } %>
        <% } %>
      </div>
    </section>

    <section class="section">
      <!-- <ul id="rig">
        <li>
            <a class="rig-cell" href="#">
                <img class="rig-img" src="https://s3.us-east-2.amazonaws.com/caloimagesandvideos/IMG-20180327-WA0007.jpg">
                <span class="rig-overlay"></span>
                <span class="rig-text">Lorem Ipsum Dolor</span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="#">
                <img class="rig-img" src="https://s3.us-east-2.amazonaws.com/caloimagesandvideos/IMG-20180325-WA0028.jpg">
                <span class="rig-overlay"></span>
                <span class="rig-text">Consectetur Adipiscing</span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="#">
                <img class="rig-img" src="https://s3.us-east-2.amazonaws.com/caloimagesandvideos/IMG-20180330-WA0002.jpg">
                <span class="rig-overlay"></span>
                <span class="rig-text">Vivamus ut Felis</span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="#">
                <img class="rig-img" src="https://s3.us-east-2.amazonaws.com/caloimagesandvideos/IMG-20180404-WA0022.jpg">
                <span class="rig-overlay"></span>
                <span class="rig-text">Curabitur tempus</span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="#">
                <img class="rig-img" src="https://s3.us-east-2.amazonaws.com/caloimagesandvideos/IMG-20180323-WA0009.jpg">
                <span class="rig-overlay"></span>
                <span class="rig-text">Sed et nunc luctus</span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="#">
                <img class="rig-img" src="https://s3.us-east-2.amazonaws.com/caloimagesandvideos/IMG-20180320-WA0009.jpg">
                <span class="rig-overlay"></span>
                <span class="rig-text">Suspendisse tellus</span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="#">
                <img class="rig-img" src="https://s3.us-east-2.amazonaws.com/caloimagesandvideos/IMG-20180313-WA0016.jpg">
                <span class="rig-overlay"></span>
                <span class="rig-text">pellentesque odio</span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="#">
                <img class="rig-img" src="https://s3.us-east-2.amazonaws.com/caloimagesandvideos/IMG-20180323-WA0006.jpg">
                <span class="rig-overlay"></span>
                <span class="rig-text">Nam euismod</span>
            </a>
        </li>
      </ul> -->
      <div class="container has-text-centered">
        <h2 class="title">#LivingRite on Instagram</h2>
        <div class="columns is-centered">
          <div class="column">
            <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/Bg38ioeHjVO/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:56.94444444444444% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/Bg38ioeHjVO/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by CALOBOX (@calobox)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-03-28T16:48:06+00:00">Mar 28, 2018 at 9:48am PDT</time></p></div></blockquote> <script async defer src="//www.instagram.com/embed.js"></script>
          </div>
          <div class="column">
            <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/BgyjsfnHT_Q/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:56.94444444444444% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/BgyjsfnHT_Q/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by CALOBOX (@calobox)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-03-26T14:34:48+00:00">Mar 26, 2018 at 7:34am PDT</time></p></div></blockquote> <script async defer src="//www.instagram.com/embed.js"></script>
          </div>
          <div class="column">
           <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/Bg5NltmHJFN/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:56.666666666666664% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/Bg5NltmHJFN/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by CALOBOX (@calobox)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-03-29T04:36:19+00:00">Mar 28, 2018 at 9:36pm PDT</time></p></div></blockquote> <script async defer src="//www.instagram.com/embed.js"></script>
          </div>
          <div class="column">
            <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/Bgcz9TMBglW/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/Bgcz9TMBglW/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by CALOBOX (@calobox)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-03-18T03:53:36+00:00">Mar 17, 2018 at 8:53pm PDT</time></p></div></blockquote> <script async defer src="//www.instagram.com/embed.js"></script>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="section">
      <div class="container">
        <div class="columns is-mobile is-centered">
          <div class="column">
            <a class="twitter-timeline" href="https://twitter.com/calobox?ref_src=twsrc%5Etfw">Tweets by calobox</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </section> -->


    <% include ./partials/_footer %>


  </body>
</html>
