<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CaloBox ~ Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400|Roboto" rel="stylesheet">
    <link href="/styles/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="./styles/finalstyles.css">
    <!-- Start of Async Drift Code -->
    <script>
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
        return function() {
          var n;
          return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e, n, o, i;
        e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('uiwc7v9cv4fx');
    </script>
    <!-- End of Async Drift Code -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="YzNjOWE1ZjktM2FjZi00ZjNjLWEwZWQtMTRkODUxYmI2NTlkNjM2NDc2OTQ3MzkwOTc1ODg1"></script>
    <script type="text/javascript" src="./scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/cart.js"></script>
  </head>
  <body>

    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <!-- <img src="https://cdn.shopify.com/s/files/1/2023/6647/files/Logo.png" alt="Bulma: a modern CSS framework based on Flexbox"> -->
          <STRONG>Calobox</STRONG>
        </a>

        <div class="navbar-burger burger" data-target="navMenuTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navMenuTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link  is-active" href="/snack-boxes">
              Snack Boxes
            </a>
            <div class="navbar-dropdown is-boxed">
              <% for (var i = 0; i < dynamicNavBigBoxNames.length; i++) { %>
                <a class="navbar-item " href="/snack-boxes/<%= dynamicNavBigBoxNames[i].big_box_name %>">
                  <%= dynamicNavBigBoxNames[i].big_box_name %>
                </a>
              <% } %>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link  is-active" href="/individual-snacks">
              Individual Snacks
            </a>
            <div class="navbar-dropdown is-boxed">
              <% for (var i = 0; i < dynamicNavPouchNames.length; i++) { %>
                <a href="/individual-snacks/<%= dynamicNavPouchNames[i].pouch_name %>" class="navbar-item"><%= dynamicNavPouchNames[i].pouch_name %></a>
              <% } %>
            </div>
          </div>
        </div>

        <div class="navbar-end" id="rightHere">
          <% if (!userID) { %>
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a href="/login" class="tw-button button">Login</a>
                </p>
              </div>
            </div>
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a href="/signup" class="tw-button button">Sign Up</a>
                </p>
              </div>
            </div>
          <% } else { %>
            <div class="navbar-item">
              <p class="control">
                <a class="bd-tw-button button snipcart-checkout">
                  <span class="icon">
                    <i class="fa fa-shopping-cart"></i>
                  </span>
                  <span>
                    Cart
                  </span>
                </a>
              </p>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link  is-active">
                <%= name %>
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item " href="/logout">
                  Logout
                </a>
              </div>
            </div>
          <% } %>
        </div>

      </div>
    </nav>

<!--     <nav class="level">
      <div class="level-item has-text-centered">

        <a class="link is-info">Home</a>

        <div id="navMenuTransparentExample" class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link  is-active" href="/snack-boxes">
                Snack Boxes
              </a>
              <div class="navbar-dropdown is-boxed">
                <% for (var i = 0; i < dynamicNavBigBoxNames.length; i++) { %>
                  <a class="navbar-item " href="/snack-boxes/<%= dynamicNavBigBoxNames[i].big_box_name %>">
                    <%= dynamicNavBigBoxNames[i].big_box_name %>
                  </a>
                <% } %>
              </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link  is-active" href="/individual-snacks">
                Individual Snacks
              </a>
              <div class="navbar-dropdown is-boxed">
                <% for (var i = 0; i < dynamicNavPouchNames.length; i++) { %>
                  <a href="/individual-snacks/<%= dynamicNavPouchNames[i].pouch_name %>" class="navbar-item"><%= dynamicNavPouchNames[i].pouch_name %></a>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="level-item has-text-centered">
        <a class="link is-info">Menu</a>
      </div>

      <div class="level-item has-text-centered">

        <img src="https://bulma.io/images/bulma-type.png" alt="" style="height: 30px;">

        <h2><strong>CaloBox</strong></h2>
      </div>
      <div class="level-item has-text-centered">

        <a class="link is-info">Reservations</a>

        <div id="navMenuTransparentExample" class="navbar-menu">
          <div class="navbar-end" id="rightHere">
            <% if (!userID) { %>
              <div class="navbar-item">
                <div class="field is-grouped">
                  <p class="control">
                    <a href="/login" class="tw-button button">Login</a>
                  </p>
                </div>
              </div>
              <div class="navbar-item">
                <div class="field is-grouped">
                  <p class="control">
                    <a href="/signup" class="tw-button button">Sign Up</a>
                  </p>
                </div>
              </div>
            <% } else { %>
              <div class="navbar-item">
                <p class="control">
                  <a class="bd-tw-button button snipcart-checkout">
                    <span class="icon">
                      <i class="fa fa-shopping-cart"></i>
                    </span>
                    <span>
                      Cart
                    </span>
                  </a>
                </p>
              </div>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link  is-active">
                  <%= name %>
                </a>
                <div class="navbar-dropdown is-boxed">
                  <a class="navbar-item " href="/logout">
                    Logout
                  </a>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>

      <div class="level-item has-text-centered">
        <a class="link is-info">Contact</a>
      </div>

    </nav> -->

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-half">
            <h1 class="" style="font-family: 'Montserrat', sans-serif; font-size: 56px; font-weight: bold;">A Gift To The Healthy You</h1>
            <p style="font-family: 'Roboto', sans-serif; font-size: 32px;">Calobox provides a collection of Healthy, Tasty and Light snacks that not only satiate your hunger, but also cater to a variety of taste buds. </p>
            <br />
            <a class="button is-medium is-primary" href="/snack-boxes" style="font-family: 'Montserrat', sans-serif;">Buy Now</a>
          </div>
          <div class="column is-hidden-mobile">
              <iframe width="500" height="300" src="https://res.cloudinary.com/dg7wliucz/video/upload/v1513828583/CaloboxMain_skj5q6.mp4?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>

    <section class="section" style="background-color: #61a60e; color: white;">
      <div class="container">
        <h2 style="font-family: 'Montserrat', sans-serif; font-size: 30px; font-weight: bold;">Why eat CaloSnacks?</h2>
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="level is-hidden-mobile">
              <div class="level-left">
                <div class="level-item"><img src="./1.png" style="height: 80px;"></div>
                <div class="level-item"><img src="./2.png" style="height: 80px;"></div>
                <div class="level-item"><img src="./3.png" style="height: 80px;"></div>
                <div class="level-item"><img src="./4.png" style="height: 80px;"></div>
                <div class="level-item"><img src="./5.png" style="height: 80px;"></div>
              </div>
            </div>
            <p id="smaller-text" style="font-size: 28px;">Here at Calo we have sourced out snacks that contain extremely pure and authentic ingredients to help you beinge freely. They are not only healthy and light but also cater to a variety of taste buds from sweet to savoury and spicy. We at Calo aim to make snacking fun &amp; healthy, and our wide range of products makes sure you're never bored.</p>
          </div>
          <div class="column">
            <div class="columns is-centered">
              <div class="column is-one-fifth">

              </div>
              <div class="column">
                <img src="https://res.cloudinary.com/dg7wliucz/image/upload/v1515215060/IMG_6553_padbp5.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <br />

    <section class="section">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-half">
            <img src="https://res.cloudinary.com/dg7wliucz/image/upload/v1515734477/logo/IMG_5886.jpg">
            <br />
            <br />
            <div class="columns">
              <div class="column is-offset-one-third">
                <a class="button is-medium is-primary is-offset-1" href="/individual-snacks" style="font-family: 'Montserrat', sans-serif;">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="column">
            <h2>The time to eat healthy is here!</h2>
            <p>Say Namaste to healthy wholesome nutrients that are essential in order to live a healthy lifestyle!</p>
            <br />
            <p>The ingredients used to prepare our vibrant range of snacks are of superior quality that matches with the highest nutritional standards.
            This implies that there's no wage of artifcial ingredients but only fresh and nutritious ingredients that ensures both good health and good taste.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container has-text-centered">
        <h2>Three reasons to go Calo</h2>
      </div>
      <br />
      <div class="container">
        <div class="columns is-centered">

          <div class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="./caloProducts.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media-content">
                  <p class="title is-4">It's Convenient</p>
                </div>
                <div class="content">
                  <p style="font-size: 20px;">We ship your favourite Calo Snacks right to your door. That means time saved and the fun of opening your heathy treasure chest.</p>
                  <br>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="http://www.thetruthaboutcars.com/wp-content/uploads/2016/01/Calendar-610x390.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media-content">
                  <p class="title is-4">It's Flexible</p>
                </div>
                <div class="content">
                  <p style="font-size: 20px;">Deliveries arrive on your schedule. Pause, skip, or cancel anytime with just a few clicks. Enjoy next levels yoga flexbility!</p>
                  <br>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://res.cloudinary.com/dg7wliucz/image/upload/v1515738349/logo/calo_club.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media-content">
                  <p class="title is-4">It's Low Risk, High Reward</p>
                </div>
                <div class="content">
                  <p style="font-size: 20px;">Once you sign up, even if you dont buy anything, you're a member of our <a>Calo Club</a> for free! No hassle, plus you get free stuff!</p>
                  <br>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="section is-hidden-mobile" style="background-color: #eee;">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-half is-offset-one-quarter">
            <div class="field is-grouped is-grouped-centered">
              <p class="control">
                <a class="button is-info is-medium" href="/snack-boxes">
                  Provide our boxes at your event!
                </a>
              </p>
              <p class="control">
                <a class="button is-info is-medium" href="/individual-snacks">
                  Buy Our Snack Pouches Now!
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section is-hidden-desktop is-hidden-tablet">
      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <a class="button is-info is-medium" href="/snack-boxes">
            Provide our boxes at your event!
          </a>
        </p>
      </div>
      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <a class="button is-info is-medium" href="/individual-snacks">
            Buy our snack pouches Now!
          </a>
        </p>
      </div>
    </section>

<!--     <% if (!userID) { %>
      <section class="hero is-medium is-bold" style="background-color: #43dacc;">
        <br />
        <div class="content has-text-centered">
          <h2 class="subtitle" style="font-family: 'Montserrat', sans-serif; font-size: 20px;">
            <strong style="color: white;">KEEP IN TOUCH!</strong>
          </h2>
        </div>
        <br />
        <div class="content has-text-centered">
          <p class="subtitle" style="font-family: 'Roboto', sans-serif; color: white;">Sign up to get updates on product releases, special offers and other news.</p>
        </div>
        <br />
        <br />
        <br />
        <form method="" action="post">
          <div class="field has-addons has-addons-centered">
            <p class="control">
              <input class="input is-medium" type="text" placeholder="Your Email">
            </p>
            <p class="control">
              <a class="button is-medium is-info">
                Subscribe
              </a>
            </p>
          </div>
        </form>
        <br />
        <br />
      </section>
    <% } %> -->

    <section class="section" style="background-color: #001f3f;">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-2">
            <h3 style="color: white;">Navigation</h3>
            <br />
            <!-- <li style="color: #43dacc;"><a href="/events">Events</a></li> -->
            <li style="color: #43dacc;"><a href="/nutrition-prep">Nutrition &amp; Prep</a></li>
            <li style="color: #43dacc;"><a href="/health-safety">Health &amp; Safety</a></li>
            <li style="color: #43dacc;"><a href="/how-it-works">How it works</a></li>
            <li style="color: #43dacc;"><a href="/contact-us">Contact Us</a></li>
          </div>
          <div class="column is-2">
            <h3 style="color: white;">Company</h3>
            <br />
            <li style="color: #43dacc;"><a href="/calo-freaks">Our Team</a></li>
            <li style="color: #43dacc;"><a href="/about-us">About Us</a></li>
          </div>
          <div class="column is-2">
            <h3 style="color: white;">Calo Recipes</h3>
            <br />
            <li style="color: #43dacc;"><a href="#">Coming Soon!</a></li>
          </div>
          <div class="column is-4">
            <h3 style="color: white;">Find Us Online</h3>
            <br />
            <a class="button is-primary" style="color: white;" href="https://www.facebook.com/CALOBOX/">Facebook</a>
            <a class="button is-primary" style="color: white;" href="https://twitter.com/calobox">Twitter</a>
            <a class="button is-primary" style="color: white;" href="https://www.instagram.com/calobox/">Instagram</a>
            <a class="button is-primary" style="color: white;">ETC</a>
          </div>
        </div>
      </div>
    </section>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {

        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach(function ($el) {
            $el.addEventListener('click', function () {

              // Get the target from the "data-target" attribute
              var target = $el.dataset.target;
              var $target = document.getElementById(target);

              // Toggle the class on both the "navbar-burger" and the "navbar-menu"
              $el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }

      });
    </script>

  </body>
</html>
