<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.min.css">

    <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="MDViM2VlYjgtYWE1OC00ZGViLWFmMzAtMWYyNjljOGE3ZWI4NjM2NDc2OTQ3MzkwOTc1ODg1"></script>
    <script type="text/javascript" src="/scripts/cart.js"></script>
  </head>
  <body>
    <nav class="navbar is-transparent">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <!-- <img src="https://cdn.shopify.com/s/files/1/2023/6647/files/Logo.png" alt="Bulma: a modern CSS framework based on Flexbox"> -->
          <strong>Calobox</strong>
        </a>

        <div class="navbar-burger burger" data-target="navMenuTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navMenuTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link  is-active" href="/snack-boxes">
              Snack Boxes
            </a>
            <div class="navbar-dropdown is-boxed">
              <% for (var i = 0; i < dynamicNavBigBoxNames.length; i++) { %>
                <a class="navbar-item " href="/snack-boxes/<%= dynamicNavBigBoxNames[i].big_box_name %>">
                  <%= dynamicNavBigBoxNames[i].big_box_name %>
                </a>
              <% } %>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link  is-active" href="/individual-snacks">
              Individual Snacks
            </a>
            <div class="navbar-dropdown is-boxed">
              <% for (var i = 0; i < dynamicNavPouchNames.length; i++) { %>
                <a href="/individual-snacks/<%= dynamicNavPouchNames[i].pouch_name %>" class="navbar-item"><%= dynamicNavPouchNames[i].pouch_name %></a>
              <% } %>
            </div>
          </div>
        </div>

        <div class="navbar-end" id="rightHere">
          <% if (!userID) { %>
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a href="/login" class="tw-button button">Login</a>
                </p>
              </div>
            </div>
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a href="/signup" class="tw-button button">Sign Up</a>
                </p>
              </div>
            </div>
          <% } else { %>
            <div class="navbar-item">
              <p class="control">
                <a class="bd-tw-button button snipcart-checkout">
                  <span class="icon">
                    <i class="fa fa-shopping-cart"></i>
                  </span>
                  <span>
                    Cart
                  </span>
                </a>
              </p>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link  is-active">
                <%= name %>
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item " href="/logout">
                  Logout
                </a>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </nav>


    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-one-third" style="">
            <div class="slick-carousel">
              <div style="width: 66%; margin-right: 10px; border-radius: 5px;"><img src="<%= response[0].pouch_image_url %>"></div>
              <div style="width: 66%; margin-right: 10px; border-radius: 5px;"><img src="<%= response[0].pouch_image_url_2 %>"></div>
              <div style="width: 66%; margin-right: 10px; border-radius: 5px;"><img src="<%= response[0].pouch_image_url_3 %>" style="background-size: cover;" ></div>
            </div>
          </div>
          <div class="column is-one-third is-offset-2">
            <h2 class="title">
              <%= response[0].pouch_name %>
            </h2>
            <p class="content is-medium">
              <%= response[0].tag %>
            </p>
            <p class="content is-medium">
              <strong>Why we created it</strong>
              <br />
              <%= response[0].why_created %>
            </p>
            <p class="content is-medium">
              <strong>How does it benefit me?</strong>
              <br />
              <%= response[0].benefits %>
            </p>
            <p class="content is-medium">
              <strong>When should I eat it?</strong>
              <br />
              <%= response[0].time_to_eat %>
            </p>
            <p class="content is-medium">
              <strong>Price:</strong>
              <br />
              <% if (response[0].pouch_price) { %>
                <%= response[0].pouch_price %>
              <% } else {%>
                Coming Soon!!
              <% } %>
            </p>
            <p class="content is-medium">
              <strong>Net Weight:</strong>
              <br />
              <%= response[0].net_weight %> gms
            </p>
            <% if (response[0].pouch_price) { %>
              <div class="level">
                <div class="level-left">
                  <div class="level-item">

                      <button
                        class="snipcart-add-item button is-medium is-primary"
                        data-item-id="<%= response[0].pouch_id %>"
                        data-item-name="<%= response[0].pouch_name %>"
                        data-item-price="<%= response[0].pouch_price %>"
                        data-item-url="/individual-snacks/<%= response[0].pouch_name %>"
                        data-item-image="<%= response[0].pouch_image_url %>"
                        data-item-has-taxes-included="true">
                            Buy <%= response[0].pouch_name %>
                      </button>

                      <!-- <a class="button is-medium is-primary" href="/login" style="font-family: 'Montserrat', sans-serif;">Login First</a> -->

                  </div>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </section>

    <section class="section" style="background-color: #001f3f;">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-2">
            <h3 style="color: white;">Navigation</h3>
            <br />
            <li style="color: #43dacc;"><a href="">Nutrition &amp; Prep</a></li>
            <li style="color: #43dacc;"><a href="/how-it-works">How it works</a></li>
            <li style="color: #43dacc;"><a href="/about-us">About Us</a></li>
            <li style="color: #43dacc;"><a href="/contact-us">Contact Us</a></li>
          </div>
          <div class="column is-2">
            <h3 style="color: white;">Store Help</h3>
            <br />
            <li style="color: #43dacc;"><a href="">Something Here</a></li>
            <li style="color: #43dacc;"><a href="">Something Else Here</a></li>
          </div>
          <div class="column is-2">
            <h3 style="color: white;">Find Us Online</h3>
            <br />
            <li style="color: #43dacc;"><a href="">Something Here</a></li>
            <li style="color: #43dacc;"><a href="">Something Else Here</a></li>
          </div>
          <div class="column is-4">
            <h3 style="color: white;">Help Us Spread The Word</h3>
            <br />
            <a class="button is-primary" style="color: white;">Facebook</a>
            <a class="button is-primary" style="color: white;">Twitter</a>
            <a class="button is-primary" style="color: white;">Instagram</a>
            <a class="button is-primary" style="color: white;">ETC</a>
          </div>
        </div>
      </div>
    </section>


    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {

        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach(function ($el) {
            $el.addEventListener('click', function () {

              // Get the target from the "data-target" attribute
              var target = $el.dataset.target;
              var $target = document.getElementById(target);

              // Toggle the class on both the "navbar-burger" and the "navbar-menu"
              $el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }

      });
    </script>

  </body>
</html>
