<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CaloBox ~ <%= response[0].pouch_name %></title>

    <% include ./partials/_seo %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400|Roboto" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.min.css"> -->

    <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="./styles/finalstyles.css">
    <style>
      .hidden {
        display: none;
      }
    </style>
    <!-- Start of Async Drift Code -->
    <script>
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
        return function() {
          var n;
          return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e, n, o, i;
        e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('uiwc7v9cv4fx');
    </script>
    <!-- End of Async Drift Code -->
    <!-- <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!-- LIVE KEY DOWN BELOW -->
    <!-- <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="YzNjOWE1ZjktM2FjZi00ZjNjLWEwZWQtMTRkODUxYmI2NTlkNjM2NDc2OTQ3MzkwOTc1ODg1"></script> -->


    <!-- TEST KEY DOWN BELOW -->
    <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="MDViM2VlYjgtYWE1OC00ZGViLWFmMzAtMWYyNjljOGE3ZWI4NjM2NDc2OTQ3MzkwOTc1ODg1"></script>
    <script type="text/javascript" src="/scripts/cart.js"></script>
  </head>
  <body style="background-image: url('../brick-wall.png');">

    <% include ./partials/_navbar %>

    <section class="section" style="background-image: url('<%= response[0].pouch_image_url %>'); background-size: cover; background-repeat: no-repeat; font-family: 'Montserrat', sans-serif;">

      <div class="container is-hidden-mobile">
        <div class="columns is-centered is-mobile">
          <div class="column is-6-desktop is-offset-6-desktop is-12-mobile">

          <div class="box">
            <h2 class="title">
              <%= response[0].pouch_name %>
            </h2>
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <p class="content is-medium">
                    <b><%= response[0].quick_desc %></b>
                  </p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <img src="https://s3.us-east-2.amazonaws.com/caloimagesandvideos/Vegan.png" style="width: 40px;">
                  <img src="https://s3.us-east-2.amazonaws.com/caloimagesandvideos/tasty.png" style="width: 55px;">
                </div>
              </div>
            </div>

            <p class="content is-medium">
              <%= response[0].tag %>
            </p>
            <p class="content is-medium">
              <strong>Price:</strong>
              <br />
              <% if (response[0].pouch_price) { %>
                Rs. <%= response[0].pouch_price %>
              <% } else {%>
                Coming Soon!!
              <% } %>
            </p>
            <p class="content is-medium">
              <strong>Net Weight:</strong>
              <br />
              <%= response[0].net_weight %> gms
            </p>
            <% if (response[0].pouch_price) { %>
              <div class="level">
                <div class="level-left">
                  <div class="level-item">

                      <button
                        class="snipcart-add-item button is-medium is-primary"
                        data-item-id="<%= response[0].pouch_id %>"
                        data-item-name="<%= response[0].pouch_name %>"
                        data-item-price="<%= response[0].pouch_price %>"
                        data-item-url="/individual-snacks/<%= response[0].pouch_name %>"
                        data-item-image="<%= response[0].pouch_image_url %>"
                        data-item-has-taxes-included="false">
                            Add <%= response[0].pouch_name %> to Cart
                      </button>

                      <!-- <a class="button is-medium is-primary" href="/login" style="font-family: 'Montserrat', sans-serif;">Login First</a> -->

                  </div>
                </div>
              </div>
            <% } %>
          </div>

          </div>
        </div>
      </div>

      <div class="container is-hidden-desktop">
        <div class="columns is-centered is-mobile">
          <div class="column is-6-desktop is-offset-6-desktop is-12-mobile">

          <div class="box" style="background-color: rgba(255,255,255,0.5);">
            <h2 class="title">
              <%= response[0].pouch_name %>
            </h2>
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <p class="content is-medium">
                    <b><%= response[0].quick_desc %></b>
                  </p>
                </div>
              </div>
              <div class="level-right">
                <img src="https://res.cloudinary.com/dg7wliucz/image/upload/v1516684664/Vegan_tm5lu0.png" style="width: 40px;">
                <img src="https://res.cloudinary.com/dg7wliucz/image/upload/v1516684673/tasty_ggkmya.png" style="width: 55px;">
              </div>
            </div>

            <p class="content is-medium">
              <%= response[0].tag %>
            </p>
            <p class="content is-medium">
              <strong>Price:</strong>
              <br />
              <% if (response[0].pouch_price) { %>
                Rs. <%= response[0].pouch_price %>
              <% } else {%>
                Coming Soon!!
              <% } %>
            </p>
            <p class="content is-medium">
              <strong>Net Weight:</strong>
              <br />
              <%= response[0].net_weight %> gms
            </p>
            <% if (response[0].pouch_price) { %>
              <div class="level">
                <div class="level-left">
                  <div class="level-item">

                      <button
                        class="snipcart-add-item button is-medium is-primary"
                        data-item-id="<%= response[0].pouch_id %>"
                        data-item-name="<%= response[0].pouch_name %>"
                        data-item-price="<%= response[0].pouch_price %>"
                        data-item-url="/individual-snacks/<%= response[0].pouch_name %>"
                        data-item-image="<%= response[0].pouch_image_url %>"
                        data-item-has-taxes-included="true">
                            Add <%= response[0].pouch_name %> to Cart
                      </button>

                      <!-- <a class="button is-medium is-primary" href="/login" style="font-family: 'Montserrat', sans-serif;">Login First</a> -->

                  </div>
                </div>
              </div>
            <% } %>
          </div>

          </div>
        </div>
      </div>
    </section>

<!--     <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-one-third" style="">
            <div class="slick-carousel">
              <div style="width: 66%; margin-right: 10px; border-radius: 5px;"><img src="<%= response[0].pouch_image_url %>"></div>
              <div style="width: 66%; margin-right: 10px; border-radius: 5px;"><img src="<%= response[0].pouch_image_url_2 %>"></div>
              <div style="width: 66%; margin-right: 10px; border-radius: 5px;"><img src="<%= response[0].pouch_image_url_3 %>" style="background-size: cover;" ></div>
            </div>
          </div>
          <div class="column is-one-third is-offset-2">
            <h2 class="title">
              <%= response[0].pouch_name %>
            </h2>
            <p class="content is-medium">
              <b><%= response[0].quick_desc %></b>
            </p>
            <p class="content is-medium">
              <%= response[0].tag %>
            </p>
            <p class="content is-medium">
              <strong>Price:</strong>
              <br />
              <% if (response[0].pouch_price) { %>
                <%= response[0].pouch_price %>
              <% } else {%>
                Coming Soon!!
              <% } %>
            </p>
            <p class="content is-medium">
              <strong>Net Weight:</strong>
              <br />
              <%= response[0].net_weight %> gms
            </p>
            <% if (response[0].pouch_price) { %>
              <div class="level">
                <div class="level-left">
                  <div class="level-item">

                      <button
                        class="snipcart-add-item button is-medium is-primary"
                        data-item-id="<%= response[0].pouch_id %>"
                        data-item-name="<%= response[0].pouch_name %>"
                        data-item-price="<%= response[0].pouch_price %>"
                        data-item-url="/individual-snacks/<%= response[0].pouch_name %>"
                        data-item-image="<%= response[0].pouch_image_url %>"
                        data-item-has-taxes-included="true">
                            Buy <%= response[0].pouch_name %>
                      </button> -->

                      <!-- <a class="button is-medium is-primary" href="/login" style="font-family: 'Montserrat', sans-serif;">Login First</a> -->

                  <!-- </div>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </section> -->


    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-12">
            <div class="tabs is-centered">
              <ul>
                <li id="all-tab" class="is-active">
                  <a onClick="switchToCreated()">
                    <p style="font-size: 20px;"><strong>Why we created it</strong></p>
                  </a>
                </li>
                <li id="adaptivedesign-tab">
                  <a onClick="switchToBenefits()">
                    <p style="font-size: 20px;"><strong>How does it benefit me?</strong></p>
                  </a>
                </li>
                <li id="jquery-tab">
                  <a onClick="switchToTimeToEat()">
                    <p style="font-size: 20px;"><strong>When should I eat it?</strong></p>
                  </a>
                </li>
              </ul>
            </div>

            <div class="container">
              <div id="all-tab-content">
                <p class="subtitle" style="text-align:center;">
                  <%= response[0].why_created %>
                </p>
              </div>
              <div class="hidden" id="adaptivedesign-tab-content">
                <p class="subtitle" style="text-align:center;">
                  <%= response[0].benefits %>
                </p>
              </div>
              <div class="hidden" id="jquery-tab-content">
                <p class="subtitle" style="text-align:center;">
                  <%= response[0].time_to_eat %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <% include ./partials/_footer %>

    <script>
      function switchToCreated() {
        removeActive();
        hideAll();
        $("#all-tab").addClass("is-active");
        $("#all-tab-content").removeClass("hidden");
      }

      function switchToBenefits() {
        removeActive();
        hideAll();
        $("#adaptivedesign-tab").addClass("is-active");
        $("#adaptivedesign-tab-content").removeClass("hidden");
      }

      function switchToTimeToEat() {
        removeActive();
        hideAll();
        $("#jquery-tab").addClass("is-active");
        $("#jquery-tab-content").removeClass("hidden");
      }

      function removeActive() {
        $("li").each(function() {
          $(this).removeClass("is-active");
        });
      }

      function hideAll(){
        $("#all-tab-content").addClass("hidden");
        $("#adaptivedesign-tab-content").addClass("hidden");
        $("#jquery-tab-content").addClass("hidden");
        $("#ajax-tab-content").addClass("hidden");
        $("#angularjs-tab-content").addClass("hidden");
      }
  </script>

  </body>
</html>
