<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CaloBox ~ <%= response[0].big_box_name %></title>

    <% include ./partials/_seo %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400|Roboto" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.min.css"> -->

    <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="./styles/finalstyles.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css">

    <!-- Start of Async Drift Code -->
    <script>
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
        return function() {
          var n;
          return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e, n, o, i;
        e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('uiwc7v9cv4fx');
    </script>
    <!-- End of Async Drift Code -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.js"></script>

    <!-- Live Key -->
    <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="YzNjOWE1ZjktM2FjZi00ZjNjLWEwZWQtMTRkODUxYmI2NTlkNjM2NDc2OTQ3MzkwOTc1ODg1"></script>

    <script type="text/javascript" src="/scripts/cart.js"></script>
  </head>
  <body style="background-image: url('../brick-wall.png');">

    <% include ./partials/_navbar %>

    <!-- <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-two-third">

            <div class="slick-carousel">
              <div style="width: 66%; margin-right: 10px; border-radius: 5px;"><img id="bigBoxImageUrl" src="<%= response[0].big_box_image_url %>"></div>
              <div style="width: 66%; margin-right: 10px; border-radius: 5px;"><img src="<%= response[0].big_box_image_url_2 %>"></div>
            </div>

            <img src="http://strmstr.com/images/coming-soon.png" alt="Coming Soon.">

            <img id="bigBoxImageUrl" src="<%= response[0].big_box_image_url %>">

          </div>
          <div class="column is-one-third is-offset-2">
            <h2 class="title" id="bigBoxName">
              <%= response[0].big_box_name %>
            </h2>
            <p class="content is-medium" id="bigBoxDescription">
              <strong>Description:</strong>
              <br />
              <%= response[0].big_box_description %>
            </p>
            <p>
              Interested in having this product at an event you're hosting? Contact us <a href="/contact-us">here!</a> Or through the little blue box on the right!
            </p>
          </div>
        </div>
      </div>
    </section> -->

    <section class="section">
      <div class="container has-text-centered">
        <h2 class="title"><%= response[0].big_box_name %></h2>
      </div>
    </section>

    <img id="bigBoxImageUrl" src="<%= response[0].big_box_image_url %>" alt="CaloBox ~ <%= response[0].big_box_name %>">

    <section class="section">
      <div class="container has-text-centered">
        <!-- <div class="columns is-centered">
          <div class="column">
            <img id="bigBoxImageUrl" src="<%= response[0].big_box_image_url %>">
          </div>
        </div> -->
        <p style="font-size: 20px; font-family: 'Montserrat', sans-serif;"><%= response[0].big_box_description %></p>
        <br />
        <p style="font-size: 20px; font-family: 'Montserrat', sans-serif;"><b>Net Weight: <%= response[0].net_weight %> gms</b></p>
        <br />
        <p style="font-size: 20px; font-family: 'Montserrat', sans-serif;"><b>Price: Rs.<%= response[0].big_box_price %></b></p>
        <br />

        <button
          class="snipcart-add-item button is-medium is-primary"
          data-item-id="<%= response[0].big_box_id %>"
          data-item-name="<%= response[0].big_box_name %>"
          data-item-price="<%= response[0].big_box_price %>"
          data-item-weight="<%= response[0].net_weight %>"
          data-item-url="/individual-snacks/<%= response[0].big_box_name %>"
          data-item-image="<%= response[0].big_box_image_url %>"
          data-item-has-taxes-included="false">
              Add <%= response[0].big_box_name %> to Cart
        </button>

        <br />
        <br />
        <p style="font-family: 'Montserrat', sans-serif;">
          Interested in having this product at an event you're hosting? Contact us <a href="/contact-us">here</a>. Or through the little blue box on the right.
        </p>
      </div>
    </section>

    <% include ./partials/_footer %>

  </body>
</html>
